* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body {
    user-select: none;
}
header {
    width: 100%;
    height: 100px;
    top: 20px;
    list-style: none;
    background-color: rgb(89, 191, 250);
    box-sizing: 0 5px 10px rgba(0,0,0,1);
}
header .logo1 {
    width: 200px;
    height: 120px;
    top: -10px;
    left: -30px;
    align-items: left;
    position: relative;
}
header .grosTitre {
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    top: 19px;
    left: 130px;
    text-align: left;
    position: absolute;
}
header .navbar {
    position: absolute;
    right: 15px;
    top: -25px;
    padding-top: 50px;
}
header .navbar ul {
    list-style: none;
}
header .navbar ul li {
    position: relative;
    float: left;
}
header .navbar ul li a {
    font-size: 20px;
    padding: 20px;
    font-weight: bolder;
    color: #333;
    display: block;
}
header .navbar ul li a:hover {
    background-color: rgb(89, 191, 250);
    color: #ffff;
    border: 3px solid #ffff;
    border-radius: 15px ;
}
header .navbar ul li ul {
    position: absolute;
    left: 0;
    width: 500px;
    background: #ffff;
    display: none;
}
header .navbar ul li ul li {
    width: 100%;
    padding: 10px 0 10px 0;
    border-top: 1px solid rgb(96, 87, 87);
}
header .navbar ul li ul li ul {
    left: 200px;
    top: 0;
}
header .navbar ul li:hover > ul {
    display: initial;
}
header label {
    right: 30px;
    top: 30px;
    display: none;
    position: absolute;
}
/* fin */
.history {
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
}
.history h1 {
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
    padding: 20px 0 20px 0 ;
}
.history ul {
    list-style: decimal;
    font-size: 20px;
}
.history .liste1 .liste2 {
    padding-left: 50px;
    list-style: circle;
    padding-top: 30px;
}
footer {
    background-color: rgb(116, 111, 111);
    width: 100%;
    height: auto;
    display: flex;
    color: white;
    flex-wrap: wrap;
}
footer .footerCont {
    padding: 30px;
    width: 50%;
}
footer .footerCont p{
    font-size: 20px;
    font-weight: bolder;
}
footer .footerCont label {
    font-size: 15px;
}
footer .footerCont ul li {
    list-style:decimal;
    padding-top: 10px;
    padding-bottom: 10px;
}
@media screen and (max-width:1010px) {
    header label {
        display: initial;
    }
    .navbar {
        position: absolute;
        margin-top: 100px;
        display: none;
    }
    header .navbar ul li a {
        color: #333;
    }
    header .navbar ul li ul li {
        padding-left: 80px;
    }
    #menubar {
        display: none;
    }
    .navbar ul li  {
        width: 100%;
    }
    header .navbar ul li ul {
        position: relative;
        padding-left: 30px;
        width: 100%;
    }
    .navbarresponsive {
        top: 100%; left: 0; right:0;
        backdrop-filter: blur(15px);
        border: 1px solid rgba(0, 0, 0, 1);
        width: 100%;
        right: 15px;
        backdrop-filter: blur(15px);
        padding-top: 50px;
    }
    .navbarresponsive ul li {
        color: white;
    }
    .navbarresponsive ul li a {
        font-size: 20px;
        padding: 20px;
        font-weight: bolder;
        color: #333;
        display: block;
    }
    .navbarresponsive ul li a:hover {
        background-color: rgb(89, 191, 250);
        color: #ffff;
        border: 3px solid #ffff;
        border-radius: 15px ;
    }
    .navbarresponsive ul li ul {
        position: absolute;
        left: 0;
        padding-left: 30px;
        width: 100%;
        background: #ffff;
        display: none;
    }
    .navbarresponsive ul li ul li {
        width: 100%;
        padding: 10px 0 10px 0;
        border-top: 1px solid rgb(96, 87, 87);
    }
    .navbarresponsive ul li:hover > ul {
        display: initial;
    }
}
@media screen and (max-width: 530px) {
    .grosTitre {
        display: none;
    }
    .history {
        width: 90%;
        margin: auto;
        margin-bottom: 20px;
    }
    .history h1 {
        font-size: 18px;
        font-weight: bolder;
        text-align: center;
        padding: 20px 0 20px 0 ;
    }
    .history ul {
        list-style: decimal;
        font-size: 15px;
    }
    .history .liste1 .liste2 {
        padding-left: 30px;
        list-style: circle;
        padding-top: 20px;
    }
    footer .footerCont {
        padding: 20px;
        width: 50%;
    }
    footer .footerCont p{
        font-size: 15px;
        font-weight: bolder;
    }
    footer .footerCont label {
        font-size: 14px;
    }
    footer .footerCont ul {
        font-size: 12px;
    }
    footer .footerCont ul li {
        list-style:decimal;
        padding-top: 10px;
        font-size: 12px;
        padding-bottom: 10px;
    }
}