* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;
}
body {
    /* min-height: 100vh;*/
    min-width: 430px; 
    user-select: none;
}
#entete {
    background-color: rgb(89, 191, 250);
    width: 100%;
    height: 50px;
    top: 0;
    text-align: center;
    padding-top: 10px;
    list-style: none;
    position: relative;
}
#entete label {
    font-size: 17px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    padding-right: 10px;
}
header {
    list-style: none;
    width: 100%;
    height: 150px;
    top: 50px;
    position: relative;
    top:0; left:0; right: 0;
    background: #fdfdfd;
    box-sizing: 0 5px 10px rgba(0,0,0,1);
 
    display: flex;
    justify-content: space-between;
    z-index: 1000;
}
header .logo1 {
    width: 200px;
    height: 120px;
    top: 20px;
    left: -30px;
    align-items: left;
    position: relative;
}
header .grosTitre {
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    top: 50px;
    left: 130px;
    text-align: left;
    position: absolute;
}
header .navbar {
    padding-top: 50px;
    padding-right: 37px;
}
header .navbar ul {
    list-style: none;
}
header .navbar ul li {
    position: relative;
    float: left;
}
header .navbar ul li a {
    font-size: 20px;
    padding: 20px;
    font-weight: bolder;
    color: #333;
    display: block;
}
header .navbar ul li a:hover {
    background-color: rgb(89, 191, 250);
    color: #ffff;
    border-radius: 15px ;
    
}
header .navbar ul li ul {
    position: absolute;
    left: 0;
    width: 300px;
    background: #ffff;
    display: none;
}
header .navbar ul li ul li {
    width: 100%;
    padding: 10px 0 10px 0;
    border-top: 1px solid rgb(96, 87, 87);
}
header .navbar ul li ul li ul {
    left: 200px;
    top: 0;
}
header .navbar ul li:hover > ul {
    display: initial;
}
#menubar {
    visibility: hidden;
}
header label {
    right: 30px;
    top: 45px;
    display: none;
    position: absolute;
}
header .navbar li .dernLi {
    left: 20px;
    position: absolute;
}
/* fin header */

#bgTof {
    height: 100vh;
    min-height: 100vh;
    background-image: url(Photo/IMG_7352-01.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#bgTof .venue {
    padding-top: 50px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-size:40px;
    animation-timing-function: linear initial;
}

.pubLMD {
    padding: 80px 0 0 0;
    width: 80%;
    text-align: center;
    margin: auto;
}
.pubLMD h1 {
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.filiereL {
    width: 90%;
    margin: auto;
    padding: 60px ;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
}
.pubTe {
    max-width: 400px;
    display: block;
    justify-content: space-between;
    align-content: space-between;
}
.pubTe label {
    width: 100px;
    padding-right: 20px;
}
.filiereL img {
    border: 2px solid rgb(182, 230, 245);
    width: auto;
    margin: 10px;
    padding: 15px;
}
.filiereL label {
    font-size: 15px;
    max-height: 100px;
    
}
.filiereL label button {
    width: 100px;
    height: 30px;
    font-size: 15px;
    background-color: rgb(202, 200, 200);
    border-radius: 10px;
}
footer {
    background-color: rgb(89, 191, 250);
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}
footer .footerCont {
    padding: 30px;
    width: 50%;
}
footer .footerCont p{
    font-size: 20px;
    font-weight: bolder;
}
footer .footerCont label {
    font-size: 15px;
}
footer .footerCont ul li {
    list-style:decimal;
    padding-top: 10px;
    padding-bottom: 10px;
}
@media screen and (max-width:1010px) {
    header label {
        display: initial;
    }
    .navbar {
        position: absolute;
        top: 100%; left: 0; right:0;
        backdrop-filter: blur(15px);
        border: 1px solid rgba(0, 0, 0, 1);
        display: none;
    }
    header .navbar ul li a {
        color: #ffff;
    }
    header .navbar ul li ul li {
        padding-left: 80px;
    }
    #menubar {
        display: none;
    }
    .navbar ul li  {
        width: 100%;
    }
    header .navbar ul li ul {
        position: relative;
        padding-left: 30px;
        width: 100%;
    }
    #menubar:checked ~ .navbar {
        position: absolute;
        top: 100%; left: 0; right:0;
        backdrop-filter: blur(15px);
        border: 1px solid rgba(0, 0, 0, 1);
        display: initial;   
    }
}
@media screen and (max-width: 530px) {
    header .grosTitre {
        font-size: 35px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        top: -50px;
        text-align: center;
        position: absolute;
    } 
    #entete label {
        display: none;
    }
    .filiereL .tof1FiliereL {
        /* width: 120px; */
    }
}
@media screen and (max-width: 450px) {
    .filiereL {
        padding: 5px ;
    }
    .filiereL img {
        padding: 0;
        margin:10px;
    }
}